@model APIWoood.Models.UserViewModel

@{
    ViewBag.Title = "Create User";
}

@using APIWoood.Logic.SharedKernel;

<div class="container">
    <h2>Users</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4>Create User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="UserName">Username</label>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Email">E-mail</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ApiKey">API Key</label>
                @Html.EditorFor(model => model.ApiKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Api Key" } })
                @Html.ValidationMessageFor(model => model.ApiKey, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-2">
                <button id="generate-apikey-btn" type="submit" class="btn btn-primary" style="margin-top: 2em;">Generate API Key</button>
            </div>
        </div>

        <div class="form-group">
            <label for="UserRole">Role</label>
            @Html.EnumDropDownListFor(model => model.UserRole, "Select Role", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="AllowedIP" data-toggle="tooltip" data-placement="top" title="Example: 172.0.1.10,172.0.1.11,172.0.1.12-17.16.0.20">Allowed IP addresses <span class="fa fa-question-circle"></span></label>
            @Html.EditorFor(model => model.AllowedIP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Allowed IP Addresses" } })
            @Html.ValidationMessageFor(model => model.AllowedIP, "", new { @class = "text-danger" })
        </div>

        <table id="debtorTable" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Debtor</th>
                    <th><a href="#" class="addDebtorButton btn btn-info btn-small" role="button"><i class="fa fa-plus"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr class="debtorRow prototype d-none">
                    <td><input type="text" class="form-control debtorpicker" /></td>
                    <td><a href="#" class="removeDebtorButton btn btn-secondary btn-small" role="button"><i class="fa fa-minus"></i></a></td>
                </tr>
                <tr class="debtorRow">
                    <td><input type="text" class="form-control debtorpicker" name="Debtors[]" /></td>
                    <td><a href="#" class="removeDebtorButton btn btn-secondary btn-small" role="button"><i class="fa fa-minus"></i></a></td>
                </tr>
            </tbody>
        </table>

        <table id="urlTable" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Url</th>
                    <th><a href="#" class="addUrlButton btn btn-info btn-small" role="button"><i class="fa fa-plus"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr class="urlRow prototype d-none">
                    <td><input type="text" class="form-control urlpicker" /></td>
                    <td><a href="#" class="removeUrlButton btn btn-secondary btn-small" role="button"><i class="fa fa-minus"></i></a></td>
                </tr>
                <tr class="urlRow">
                    <td><input type="text" class="form-control urlpicker" name="Urls[]" /></td>
                    <td><a href="#" class="removeUrlButton btn btn-secondary btn-small" role="button"><i class="fa fa-minus"></i></a></td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            function generateApiKey() {
                sarr = new Array("abcdefghijkmnopqrstuvwxyz", "ABCDEFGHJKLMNPQRSTUVWXYZ",
                    "23456789", "~!#$%^&*()_+-=\[]{};:,./<>?");
                s = new String();
                pw = new String();
                s = sarr[0] + sarr[1] + sarr[2];
                for (var i = 0; i < 40; i++) {
                    pw += s.charAt(Math.floor(Math.random() * s.length));
                }
                $('#ApiKey').val(pw);
            }

            $(function () {

                $('[data-toggle="tooltip"]').tooltip();

                $('#generate-apikey-btn').click(function (e) {
                    generateApiKey();

                    e.preventDefault();
                });

                $('.addDebtorButton').click(function (e) {
                    var newRow = $('.debtorRow.prototype').clone().removeClass('prototype d-none');
                    newRow.find('.removeDebtorButton').click(function (e) {
                        $(this).parent().parent().remove();
                    });
                    newRow.find('.debtorpicker').attr('name', 'Debtors[]').autocomplete({
                        source: function (request, response) {
                            $.getJSON("/api/debtor/" + request.term, function (data) {
                                response($.map(data, function (item) {
                                    return item.DEBITEURNR + " " + item.NAAM;
                                }));
                            });
                        },
                        minLength: 2
                    });
                    $('#debtorTable tbody').append(newRow);
                });

                $('.addUrlButton').click(function (e) {
                    var newRow = $('.urlRow.prototype').clone().removeClass('prototype d-none');
                    newRow.find('.removeUrlButton').click(function (e) {
                        $(this).parent().parent().remove();
                    });
                    newRow.find('.urlpicker').attr('name', 'Urls[]').autocomplete({
                        source: function (request, response) {
                            $.getJSON("/api/url/" + request.term, function (data) {
                                response($.map(data, function (item) {
                                    return item.Name;
                                }));
                            });
                        },
                        minLength: 2
                    });
                    $('#urlTable tbody').append(newRow);
                });

                $('.removeDebtorButton').click(function (e) {
                    $(this).parent().parent().remove();
                });

                $('.removeUrlButton').click(function (e) {
                    $(this).parent().parent().remove();
                });

                $(".debtorpicker").autocomplete({
                    source: function (request, response) {
                        $.getJSON("/api/debtor/" + request.term, function (data) {
                            response($.map(data, function (item) {
                                return item.DEBITEURNR + " " + item.NAAM;
                            }));
                        });
                    },
                    minLength: 2
                });

                $(".urlpicker").autocomplete({
                    source: function (request, response) {
                        $.getJSON("/api/url/" + request.term, function (data) {
                            response($.map(data, function (item) {
                                return item.Name;
                            }));
                        });
                    },
                    minLength: 2
                });
            });

        </script>
    }
</div>
